# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.poetry/
*.egg

# Node
node_modules/
.svelte-kit/
build/
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
